.greeting-section {
  position: relative;
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
  max-height: 800px;
  padding: 57px 0px;
}

.greeting__text {
  max-width: 600px;
  display: block;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 2;
  transition: opacity 0.3s;
}

.video-block {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  &.play {
    .video-block__poster {
      opacity: 0;
      pointer-events: none;
    }

    .video__play {
      opacity: 0;
    }

    &:hover {
      .video__play {
        opacity: 1;
      }

      & + .greeting__text {
        opacity: 1;
        pointer-events: initial;
      }
    }

    & + .greeting__text {
      opacity: 0;
      pointer-events: none;
    }
  }

  video {
    object-fit: cover;
    position: relative;
    z-index: 1;
  }

  &__poster {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;

    @include before {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.55),
        rgba(0, 0, 0, 0.06) 100%
      );
      pointer-events: none;
      z-index: 2;
    }

    img {
      object-fit: cover;
      object-position: top;
    }
  }
}

.video__play {
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  cursor: pointer;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  z-index: 3;

  &.paused {
    &::after {
      background-image: url(../img/svg/paused.svg);
      left: 50%;
    }
  }

  &:hover {
    &::before {
      background-color: rgba(255, 255, 255, 0.33);
    }
  }

  @include after {
    background-image: url(../img//svg/play.svg);
    width: 26px;
    height: 36px;
    background-position: center;
    background-repeat: no-repeat;
    left: calc(50% + 4px);
    top: 50%;
    transform: translate(-50%, -50%);
  }

  @include before {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.7);
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 16px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    @include hoverScale;
  }
}

.contacts-section {
  padding: 60px 0;

  .map-block {
    position: relative;
    width: 50%;
    height: 475px;
  }
}

.contacts-section__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 32px 0;
}

.map-block {
  position: relative;

  #map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.contacts-info {
  width: calc(50% - 138px);

  a {
    @include hoverDefaultLink(rgb(64, 56, 55));
  }

  .title {
  }

  ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  li {
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;

    .caption {
      width: 100%;
      display: block;
      border-bottom: 1px solid rgb(174, 162, 155);
      padding-bottom: 16px;
      margin-bottom: 24px;
    }

    & + li {
    }
  }
}

.squeeze-section {
  position: relative;
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  background: rgb(245, 244, 241);
  padding: 50px 0;

  .caption {
  }

  p {
    max-width: 562px;
  }

  .btn {
    max-width: 363px;
    width: 100%;
  }

  .picture {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;

    img {
      object-fit: cover;
    }
  }
}

.squeeze-section__inner {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 33px;
  align-items: flex-start;
}

.projects-section {
  padding: 60px 0;
  overflow: hidden;
}

.slider-projects {
  margin-top: 34px;
  overflow: visible;

  .swiper-controls {
    position: absolute;
    right: 0;
    top: -95px;
  }
}

.project-item {
  border-bottom: 1px solid rgb(174, 162, 155);

  .picture {
    width: 100%;
    height: 450px;
    background-color: rgb(245, 244, 241);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;

    img {
      position: relative;
      width: auto;
      object-fit: contain;
    }
  }

  &__link {
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    padding: 16px 0;
    display: block;
  }
}

.brand-section {
  background-color: rgb(245, 244, 241);
}

.brand-section {
  padding: 50px 0;
}

.brand-section__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 32px;
}

.brand-section__item {
  position: relative;
  color: rgb(64, 56, 55);
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  background-color: #fff;

  overflow: hidden;
  padding: 32px 24px;
  min-height: 352px;

  &:hover {
    .brand-section__back {
      top: 0%;
    }
  }
}

.brand-section__num {
  color: rgba(64, 56, 55, 0.1);
  font-size: 120px;
  font-weight: 300;
  line-height: 120px;
  text-transform: uppercase;
}

.brand-section__front {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.brand-section__back {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  background-color: rgb(174, 162, 155);
  color: #fff;
  transition: top 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 16px;
}

.our-production {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  padding: 60px 0;
  background-color: rgb(245, 244, 241);

  .caption {
    width: 100%;
    order: 1;
    margin-bottom: 32px;
  }

  p {
    width: calc(100% / 3 - 15px);
    order: 3;
  }

  .picture {
    width: calc(100% / 3 - 13px);
    height: 280px;
    order: 2;

    img {
      object-fit: cover;
    }

    &--long {
      width: calc(50% + 245px);
      margin-left: auto;
      order: 4;
      margin-top: 15px;
    }
  }
}

.our-production__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 0px 20px;
}

.index-catalog {
  padding: 60px 0;
}

.index-slider-catalog {
  margin-top: 32px;

  .swiper {
  }

  .swiper-wrapper {
    flex-wrap: wrap;
    display: flex;
    gap: 32px 20px;
  }

  .swiper-slide {
    width: calc(100% / 5 - 16px);

    .project-item {
      .picture {
        height: 270px;
      }
    }

    &:nth-child(-n + 3) {
      width: calc(100% / 3 - 14px);

      .project-item {
        .picture {
          height: 390px;
        }
      }
    }
  }
}

.invis-link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
