@media (max-width: 1279px) {
  .header {
    font-size: 14px;
    line-height: 16px;
  }

  .logo {
    width: 125px;
  }

  .footer__col:nth-child(3) {
    max-width: 505px;
    width: 100%;
  }

  .input-item {
    input {
      height: 44px;
      font-size: 16px;
      line-height: 20px;
    }
  }

  .btn {
    font-size: 16px;
    line-height: 20px;
  }

  .footer {
    font-size: 16px;
    line-height: 20px;
    padding-top: 0;

    .social {
      margin-top: 24px;
    }
  }

  .social {
    gap: 8px;
  }

  .footer__form {
    gap: 8px;

    .input-item {
      width: calc(50% - 6.5px);
    }
  }

  .footer-top {
    padding: 24px 0;
  }

  .footer-bottom {
    padding: 24px 0;
    font-size: 10px;
    line-height: 12px;
  }

  .developers {
    gap: 8px;
    align-items: center;
  }

  .developers__text {
    font-size: 10px;
    line-height: 12px;
  }

  .developers-fouro {
    width: 35px;
  }

  .footer-menu {
    gap: 15px;
  }

  .caption {
    font-size: 36px;
    line-height: 44px;

    &--middle {
      font-size: 24px;
      line-height: 30px;
    }
  }

  .contacts-info {
    width: calc(50% - 30px);
  }

  .contacts-info li {
    font-size: 16px;
    line-height: 20px;
  }

  .contacts-info li .caption {
    padding-bottom: 8px;
    margin-bottom: 8px;
    padding: 0 0 8px 0;
  }

  .contacts-section {
    .map-block {
      height: 253px;
    }
  }

  .contacts-section__content {
    padding: 16px 0;
  }

  .contacts-section {
    padding: 16px 0;
  }

  .squeeze-section {
    font-size: 16px;
    line-height: 20px;
    padding: 35px 0;

    p {
      max-width: 375px;
    }

    .btn {
      max-width: 200px;
    }
  }

  .squeeze-section__inner {
    gap: 16px;
  }

  .project-item .picture {
    height: 280px;
  }

  .project-item__link {
    font-size: 16px;
    line-height: 20px;
    padding: 10px 0;
  }

  .swiper-controls {
    .swiper-button-prev,
    .swiper-button-next {
      width: 32px;
      height: 32px;

      svg {
        width: 8px;
        height: 16px;
      }
    }
  }

  .slider-projects {
    margin-top: 16px;
  }

  .slider-projects .swiper-controls {
    top: -54px;
  }

  .projects-section {
    padding: 16px 0;
  }

  .brand-section__item {
    font-size: 16px;
    line-height: 20px;
    min-height: 213px;
    padding: 24px 16px;
  }

  .brand-section__num {
    font-size: 80px;
    line-height: 90px;
  }

  .brand-section__back {
    padding: 24px 16px;
  }

  .brand-section__list {
    margin-top: 16px;
  }

  .brand-section {
    padding: 16px 0;
  }

  .our-production {
    font-size: 16px;
    line-height: 20px;
  }

  .our-production__inner {
    gap: 13px;
  }

  .our-production .picture {
    height: 165px;
  }

  .our-production .picture--long {
    width: calc(50% + 49px);
  }

  .our-production .caption {
    margin-bottom: 18px;
  }

  .our-production {
    padding: 16px 0;
  }

  .index-slider-catalog .swiper-slide:nth-child(-n + 3) .project-item .picture {
    height: 260px;
  }

  .index-slider-catalog .swiper-slide .project-item .picture {
    height: 180px;
  }

  .index-catalog {
    padding: 16px 0;
  }

  .index-slider-catalog {
    margin-top: 16px;
  }

  .index-slider-catalog .swiper-wrapper {
    gap: 17px 20px;
  }

  .header {
    height: auto;
  }

  .header__inner {
    padding: 16px 0;
  }

  .caption {
    &--small {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .breadcrumbs {
    font-size: 13px;
    line-height: 15px;
  }

  .breadcrumbs-section {
    padding: 10px 0;
  }

  .catalog-page {
    padding: 16px 0;
  }

  .catalog-page .caption--small {
    padding: 6px 16px;
  }

  .catalog-page .project-item .picture {
    height: 265px;
  }

  .catalog-page .slider-catalog {
    margin-top: 16px;
  }

  .catalog-item__controls {
    margin-top: 16px;
  }

  .catalog-list {
    margin-top: 16px;
  }

  .slider-catalog .swiper-controls {
    top: -45px;
  }

  .site-wrapper:not(.index-page) .main {
    padding-top: 50px;
  }

  .card-section {
    padding-top: 20px;
  }

  .breadcrumbs-mobile {
    display: flex;
    gap: 4px;
  }

  .breadcrumbs-list {
    display: none;
  }

  .slider-catalog .swiper-controls .swiper-button-prev,
  .slider-catalog .swiper-controls .swiper-button-next {
    width: 24px;
    height: 24px;

    svg {
      width: 6px;
      height: 12px;
    }
  }

  .video-section .video-block {
    height: 420px;
  }

  .card-right {
    width: calc(50% - 112px);
  }

  .card-left {
    width: calc(50% + 90px);
  }

  .card-descriptions {
    font-size: 16px;
    line-height: 20px;
    margin-top: 30px;
  }

  .card-block__info {
    margin-top: 70px;
  }

  .card-block__info table {
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
  }

  .slider-big-slider .picture {
    height: 352px;
  }

  .slider-small-slider {
    margin-top: 5px;
  }

  .slider-small-slider .picture {
    height: 90px;
  }

  .card-block .swiper-button-next,
  .card-block .swiper-button-prev {
    width: 24px;
    height: 24px;

    svg {
      width: 6px;
      height: 12px;
    }
  }

  .slider-small-slider__wrap .swiper-button-prev {
    left: 0;
    top: 35px;
  }

  .slider-small-slider__wrap .swiper-button-next {
    right: 0;
    top: 35px;
  }

  .card-block__info td {
    padding: 14px 0;
  }

  .card-about__item {
    min-height: 285px;
  }

  .card-about__content .num {
    font-size: 80px;
    line-height: 90px;
  }

  .card-about__content {
    padding: 16px;
  }

  .card-about__content .caption {
    margin-bottom: 8px;
    padding-bottom: 8px;
  }

  .card-about {
    padding: 50px 0;
  }

  .constructor-block .title {
    font-size: 16px;
    line-height: 20px;
  }

  .constructor-block__type li {
    font-size: 16px;
    line-height: 20px;
  }

  .color-list {
    font-size: 16px;
    line-height: 20px;
  }

  .color-list .picture {
    width: 65px;
    height: 40px;
  }

  .constructor-block__right .col {
    max-width: 95px;
  }

  .constructor-block__right .row {
    gap: 30px;
  }

  .constructor-block__bottom,
  .constructor-block__left {
    width: calc(100% - 265px);
  }

  .constructor-block__picture {
    width: 100%;
    height: 390px;
  }

  .constructor {
    padding: 25px 0;
  }

  .constructor-size label {
    font-size: 16px;
    line-height: 20px;
    height: 32px;
    padding: 5px 15px;
  }

  .constructor-size {
    max-width: 300px;
  }

  .constructor-result .price {
    font-size: 16px;
    line-height: 20px;
  }

  .constructor-block__bottom {
    margin-top: 30px;
  }

  .production-about {
    padding: 32px 0;
  }

  .production-about {
    font-size: 16px;
    line-height: 20px;
  }

  .production-about__row {
    gap: 16px;
  }

  .production-about__text + .production-about__text {
    margin-top: 12px;
  }

  .production-about__row + .production-about__row {
    margin-top: 16px;
  }

  .production-about__text {
    gap: 4px;
  }

  .production-caption {
    padding: 8px 0;
  }

  .is-company__item {
    font-size: 16px;
    line-height: 20px;
    padding: 16px;
    min-height: 192px;
  }

  .is-company__item .num {
    font-size: 64px;
    line-height: 64px;
  }

  .is-company__list {
    margin-top: 17px;
  }

  .is-company {
    padding: 32px 0;
  }

  .production-brand {
    font-size: 16px;
    line-height: 20px;
  }

  .production-brand__right {
    gap: 16px;
    max-width: 403px;
  }

  .production-brand__left {
    gap: 16px;
    max-width: 480px;
  }

  .production-brand {
    padding: 32px 0;
  }

  .production-brand__left .picture {
    padding-top: calc(300 / 450 * 100%);
  }

  .production-brand--white .production-brand__left .picture {
    padding-top: calc(215 / 450 * 100%);
  }

  .modal__inner {
    padding: 30px 16px;
  }

  .form-modal {
    font-size: 16px;
    line-height: 20px;
  }

  .form-modal .caption {
    padding: 8px 0;
  }

  .form-modal .form-modal__head {
    margin-bottom: 20px;
  }

  .form-modal .input-item label {
    font-size: 16px;
    line-height: 20px;
  }

  .form-modal .input-item textarea,
  .form-modal .input-item input {
    height: 25px;
    font-size: 16px;
    line-height: 20px;
  }

  .form-modal .form-modal__desc {
    margin-top: 20px;
  }

  .modal__close {
    right: 20px;
    top: 54px;
  }

  #modal-designer .modal__container {
    max-width: 90%;
  }
}
