@media (min-width: 1023px) {
  .menu {
    display: block !important;
  }
}

@media (max-width: 1023px) {
  .header-mobile {
    display: flex;
  }

  .menu {
    display: none;
  }

  .header__phone {
    display: none;
  }

  .header__text {
    display: none;
  }

  .greeting-section {
    font-size: 24px;
    line-height: 30px;
    padding: 40px 0px;
  }

  .footer__col:nth-child(3) {
    max-width: 375px;
    width: 100%;
  }

  .project-item .picture {
    height: 210px;
  }

  .brand-section__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 16px;
  }

  .menu__list {
    flex-direction: column;
    gap: 20px;
  }

  .index-slider-catalog .swiper-wrapper {
    gap: initial;
    flex-wrap: wrap;
  }

  .index-slider-catalog .swiper-slide .project-item .picture {
    height: 180px !important;
  }

  .header--fixed {
    .menu {
      box-shadow: 0px 0px 10px #fff;
      background-color: rgba(255, 255, 255, 0.9);
    }
  }

  .video-section .video-block {
    height: auto;
    padding-top: calc(64 / 320 * 100%);
  }

  .card-left {
    width: 100%;
  }

  .card-right {
    width: 100%;
    margin-top: 24px;
  }

  .card-block__info {
    margin-top: 30px;
  }

  .slider-small-slider {
    margin-top: 20px;
  }

  .slider-big-slider .picture {
    height: 215px;
  }
}
