@media (max-width: 1699px) {
  .container {
    padding: 0 16px;
  }

  .index-slider-catalog .swiper-slide:nth-child(-n + 3) .project-item .picture {
    height: 300px;
  }

  .index-slider-catalog .swiper-slide .project-item .picture {
    height: 200px;
  }

  .project-item .picture {
    height: 320px;
  }

  .video-section .video-block {
    height: 610px;
  }

  .card-left {
    width: calc(50% + 50px);
  }

  .card-right {
    width: calc(50% - 75px);
  }

  .card-about__item {
    font-size: 16px;
    line-height: 20px;
    min-height: 405px;
  }
}
